<div class="todo">
    <div class="filtros border">
        <div class="input-group grupo">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="buscador">
                <input type="text" class="form-control" placeholder="Buscador..." aria-describedby="basic-addon1">
            </div>
            
        </div>
    </div>
</div>
