.todo{
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: gray;
}

.informacion{
    position: absolute;
    margin: 5%;
    width: 90%;
    height: 80%;
    background-color: red;
}

.galeria{
    background-color: green;
    margin: 2%;
    width: 40%;
    height: 40%;
    float:left;
}

.detalles{
    float: left;
    margin:2%;
    background-color: blue;
    width: 50%;
    height: 40%;
}

.fila{
    float: left;
    margin: 2%;
    background-color: greenyellow;
    width: 94%;
    height: 5%;
}

.example-card {
    width: 90%;
    height: 80%;
  }
  