<div class="todo">
    <mat-card>
        <mat-card-header>
          <h1><strong>Habitación número {{habitacion.codigo}}</strong></h1>
        </mat-card-header>
        <div class="galeria">
            <ngb-carousel *ngIf="images" [pauseOnHover]="pauseOnHover">
                <ng-template *ngFor="let image of images"  ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="image" alt="Random first slide">
                  </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <mat-card-content>
            <div class="detalles">
              <div class="descripcion card card-body">
                <p class="card-text">{{habitacion.descripcion}}</p>
              </div>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="w-25" scope="col"><label>Plazas</label></th>
                    <th class="w-25" scope="col"><label>Vistas</label></th>
                    <th class="w-25" scope="col"><label>Superficie</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th> 
                      <span *ngFor="let p of arrayOne(habitacion.plazas)">
                        <i class="fas fa-user sepIcon"></i>
                      </span>
                    </th>
                    <th>{{ habitacion.vistas }}</th>
                    <th>{{ habitacion.superficie }} m²</th>
                  </tr>
                </tbody>
              </table>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="w-25" scope="col"><label>Precio</label></th>
                    <th class="w-25" scope="col"><label>Wi-Fi</label></th>
                    <th class="w-25" scope="col"><label>Categoria</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{ habitacion.precio }} <i class="fas fa-euro-sign"></i></th> 
                    <th *ngIf="habitacion.wifi"><i class="fas fa-wifi"></i></th>
                    <th *ngIf="!habitacion.wifi"><img class="wifiout" src="assets/img/icons/wifiout.svg"></th>
                    <th>{{ habitacion.categoria }}</th>
                  </tr>
                </tbody>
              </table>
              <div class="puntuacion">
                <h5>Nuestros clientes han puntuado esta habitación, fíjate en el resultado</h5>
                <ngb-rating ngbPopover="{{habitacion.puntuacion}}" triggers="mouseenter:mouseleave" [(rate)]="habitacion.puntuacion" [readonly]="true"></ngb-rating>
              </div>
              <div class="fila">
                <button type="button" class="btn btn-secondary" (click)="goBack()">Volver atrás</button>
              </div>
            </div>
            
        </mat-card-content>
      </mat-card>
</div>
