<section>
    <div class="profile">
      <div class="profileCenter">
        <div class="profile-info">
          <div class="username-info">
            <h3>Nombre Usuario: Pene</h3>
            <h3>Fecha Nacimiento: Pene</h3>
            <h3>Correo Electrónico: Pene</h3>
            <h3>Contraseá Accesso: Pene</h3>
          </div>
          <div class="more-info">
            <h2>Mas info pero no se que info</h2>
          </div>
        </div>
        <div class="profile-bookings">
          <h2>Reservas</h2>
          <div class="bookings-center">
            <table class="table table-hover">
              <thead>
              <tr>
                  <th>Codigo</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Descripcion</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>1</td>
                  <td>02-12-2019</td>
                  <td>05-12-2019</td>
                  <td>Descripcion</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>02-12-2020</td>
                  <td>06-12-2020</td>
                  <td>Descripcion</td>
              </tr>
              </tbody>
          </table>
          </div>
        </div>
        <div></div>
      </div>
    </div>
</section>
