<div class="todo">
  <mat-card>
    <mat-card-header>
      <h1><strong>Sala número {{sala.codigo}}</strong></h1>
    </mat-card-header>
    <div class="galeria">
      <ngb-carousel *ngIf="images" [pauseOnHover]="pauseOnHover">
        <ng-template *ngFor="let image of images" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random first slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <mat-card-content>
      <form [formGroup]="salaForm" (ngSubmit)="onSubmit()">
        <div class="detalles">
          <div class="descripcion">
            <div class="form-group">
              <textarea rows="5" type="text-box" formControlName="descripcion" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"></textarea>
              <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                <div *ngIf="f.descripcion.errors.required">Descripción Requerida</div>
              </div>
            </div>
          </div>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="w-25" scope="col"><label>Proyector</label></th>
                <th class="w-25" scope="col"><label>Microfono</label></th>
                <th class="w-25" scope="col"><label>Superficie</label></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <th>
                  <div class="form-group">
                    <input type="checkbox"formControlName="proyector" />
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="checkbox"  formControlName="microfono" />
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input rows="7" type="number" formControlName="superficie" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.superficie.errors }" />
                    <div *ngIf="submitted && f.superficie.errors" class="invalid-feedback">
                      <div *ngIf="f.superficie.errors.required">Superficie Requerida o no es un Numero</div>
                    </div>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="w-25" scope="col"><label>Precio</label></th>
                <th class="w-25" scope="col"><label>Pizarra</label></th>
                <th class="w-25" scope="col"><label>Mesas</label></th>
                <th class="w-25" scope="col"><label>Asientos</label></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <div class="form-group">
                    <input type="number" formControlName="precio" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.superficie.errors }" />
                    <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
                      <div *ngIf="f.precio.errors.required">Precio requerido o no es un Numero</div>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="checkbox" id="pizarraCheckBox" formControlName="pizarra" />
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="number" formControlName="mesas" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.mesas.errors }" />
                    <div *ngIf="submitted && f.mesas.errors" class="invalid-feedback">
                      <div *ngIf="f.mesas.errors.required">Mesas requeridas o no es un Numero</div>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="number" formControlName="asientos" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.mesas.errors }" />
                    <div *ngIf="submitted && f.asientos.errors" class="invalid-feedback">
                      <div *ngIf="f.asientos.errors.required">Asientos requeridas o no es un Numero</div>
                    </div>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <div class="fila">
              <button type="button" class="btn btn-primary" (click)="onSubmit()">Editar</button>
              <button type="button" class="atras btn btn-secondary" (click)="goBack()">Volver atrás</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>