<section>

  <div class="titulo">
    <div class="semiHeader">
      <div class="container center">
        <h1>Hotel IWEB</h1>
      </div>
    </div>
    <div class="reserva">
        <button class="pene">Reserva</button>
    </div>
  </div>
  <div class="hBackGroud">
    <br>
    <div class="habitaciones">
      <h1>Esto serian las habitaciones a falta de hacerlo</h1>
    </div>
  </div>
  <footer class="ft">
    <div>
      Esto seria el footer donde iria algun boton o info
    </div>
  </footer>
</section>
