<div class="todo">
    <div class="sobreNosotros">
        <div class="imagen"></div>
        <div class="separacion border-top border-bottom"></div>
        <div class="tabla">
                <div class="titulo">
                    <p>Información sobre nosotros</p>
                </div>
                <div class="texto">
                    <p>Nos fundamos en el año 2015, nos establecimos en Alicante y ahora queremos embarcarnos a nuevos horizontes en busca de más clientes en otras grandes ciudades como Valencia o Madrid. Este es el objetivo de este gran año 2020.</p>
                </div>
        </div>
    </div>
    <div class="derecha">

    </div>
</div>

