.profile{
  /*background-image: url("assets/img/profile_image.jpg");*/
  height: 1000px;
  display: flex;
}

.profileCenter{
  width: 70%;
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 15%;
  height: 80%;
  border: 3px solid red;
  background-color:rgba(0, 0, 0, 0.5);
}

.profile-info{
  margin: 2%;
  height: 45%;
  border: 3px solid blue;
}


.profile-bookings{
  margin: 2%;
  height: 45%;
  border: 3px solid yellow;
}
