.formulario{
  /*background-image: url("assets/img/profile_image.jpg");*/
  height: 95%;
  display: flex;
}

.Center{
  width: 70%;
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 15%;
  height: 80%;
  border: 1px solid black;
}

.reserva{
  margin: 2%;
  height: 45%;
}

.item{
  margin-left: 5%;
}

.titulo{
  border-bottom: 1px solid black;
  margin-bottom: 2%;
  margin-top: 2%;
}

table{
  table-layout: fixed;
}

.tablaIdentificador{
  width: 4%;
}

.botones{
  margin-top: 2%;
}

.tablaDescripcion{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.datosReserva{
  margin-bottom: 2%;
  width: 30%;
}

.datosPago{
  width: 30%;
}

.atras{
  margin-right: 2%;
}

td{
  overflow: hidden;
}

.numeroTarjeta{
  margin-right: 5%;
}

.caducidad{
  margin-right: 5%;
  width: 7%;
}

.csv{
  width: 5%;
}

.tabla{
  float: right;
  top: 2%;
  right: 2%;
  width: 76%;
  height: 100%;
  color:rgba(255, 255, 255, 0.85);
}


.pago{
  height: 45%;
}

.fechaInicio{
  margin-right: 5%;
}

.tipo{
  margin-right: 5%;
}
