mat-sidenav{
    width: 200px;
    padding: 10px;
    background-color:rgba(29, 29, 29, 0.9);
}

button{
    margin-bottom: 10px;
}

.contenido{
    margin: 15px;
}


h3{
    color: white;
}